body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 15px 5px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 1px 15px 5px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 56px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
}

.site-navigation a {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.2);
}

.site-navigation .site-navigation-current {
  color: #766357;
}

.site-navigation li {
  min-width: 240px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.greeting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 509px;
  margin: 0;
  padding: 0;
  background-color: #527493;
  background-image: url("../img/back.jpg");
  background-size: cover;
}

.greeting::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/triangle.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.greeting img {
  width: 458px;
  height: 352px;
  margin-top: 76px;
  margin-left: auto;
  margin-right: auto;
}

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason {
  width: 1200px;
  text-align: center;
}

.reason-title {
  width: 440px;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 27px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.annotation {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  line-height: 26px;
  text-align:center;
}

.reason-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.reason-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eeeeee; 
}

.reason-container img {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.reason-item-title {
  width: 160px;
  padding: 0;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reason-item-point {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.reason-item-description {
  width: 304px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 59px;
}

.reason-photo,
.reason-photo-2 {
  color: #ffffff;
  background-color: #81b3d2;
}

.reasons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reasons-container .reason-item-description {
  width: 264px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 400px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.service-title {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 160px;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.service-lodging .service-title::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -104px;
  left: 50%;
  margin-left: -37px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-food .service-title::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  top: -100px;
  left: 50%;
  margin-left: -37px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-souvenirs .service-title::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  top: -108px;
  left: 50%;
  margin-left: -32px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-description {
  width: 284px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 83px;
}

.hotel-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.interested {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.show {
  margin: 0;
  padding: 0;
  line-height: 24px;
  text-align: center;
  margin-bottom: 46px;
}

.search-button {
  display: inline-block;
  padding: 30px 140px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;  
}

.search-button:hover,
.search-button:focus{
  background-color: #604e43;
}

.search-button:active {
  background-color: #503e33;
}

.map {
  position: relative;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-footer-transparent {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  text-align: center;
}

.footer-copyright span {
  line-height: 26px;
  margin-right: 6px;
}

.button:hover path,
.button:focus path {
  fill: #81b3d2;
}

.button:active path {
  fill: #bdbbbc;
}

.modal {
  position: absolute;
  top: 0;
  left: 316px;
  width: 458px;
  height: 285px;
  margin: 0;
  padding: 55px;
  background-color: #ffffff;
  font-weight: bold;
  line-height: 26px;
}

.search-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.date-in {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.date-in input {
  width: 331px;
  height: 34px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.date-out {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.date-out input {
  width: 331px;
  height: 34px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar {
  position: absolute;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  top: 8px;
  right: 8px;
  fill: #cacaca;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2; 
}

.people-count-adult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 226px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.people-count-kids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 179px;
  height: 38px;
  margin: 0;
  padding: 0;
}

.people-count-adult label,
.people-count-kids label {
  margin-right: auto;
}

.people-count-adult input,
.people-count-kids input {
  width: 34px;
  height: 32px;
  text-align: center;
}

.button-plus,
.button-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  font-size: 21px;
  line-height: 26px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.button-plus:hover,
.button-plus:focus,
.button-minus:hover,
.button-minus:focus {
  color: #000000;
}

.button-plus:active,
.button-minus:active {
  color: #81b3d2;
  outline: none;
}

.button-submit {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 458px;
  height: 58px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #669ec0;
}

.button-submit:active {
  color: #94b9d2;
  background-color: #5496bd;
  outline: none;
}

.filters {
  padding-left: 72px;
  padding-right: 72px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/back-blur.jpg");
  background-size: 1200px 218px;
  background-repeat: no-repeat;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
}

.filter-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 9px;
  padding: 0;
  margin-right: 120px;
  border: none;
}

.filter-set:nth-child(2) {
  margin-right: auto; 
}

.filters-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px; 
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  padding-left: 41px;
}

.filter-checkbox {
  position: relative; 
}

.filter-checkbox::before {
  content:"";
  position: absolute;
  top: -4px;
  left: -41px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked ~ .filter-checkbox::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:disabled ~ .filter-checkbox::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

input[type="checkbox"]:checked:disabled ~ .filter-checkbox::before {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
  margin: 0;
  margin-top: 27px;
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  padding-top: 5px;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding-bottom: 3px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background: #1c4f80;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: inline-block;
  margin-left: 86px;
  padding: 6px 29px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-found {
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.result-sort {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sort-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 238px;
  margin-right: auto;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort-items a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-items a:hover,
.sort-items a:focus {
  color: #81b3d2;
}

.sort-items a:active {
  color: #000000;
  border: none;
}

.sort-items .sort-item-current {
  color: #81b3d2;
  border: none;
}

.sort-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px; 
}

.button-sort-current {
  fill: #81b3d2;
}

.button-sort-up:hover path,
.button-sort-up:focus path {
  fill: #231f20;
}

.button-sort-up:active path {
  fill: #81b3d2;
}

.hotel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-variant {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.hotel-variant:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-variant-image {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-info-wrapper {
  margin-top: 26px;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 270px;
  padding: 0;
  margin: 0;
}

.hotel-variant-title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 4px;
}

.hotel-variant-title a:hover,
.hotel-variant-title a:focus {
  color: #81b3d2;
}

.hotel-variant-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-right: 6px;
}

.button-detail {
  display: inline-block;
  margin: 0;
  padding: 3px 17px;
  vertical-align: middle;
}

.hotel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-book {
  display: inline-block;
  padding: 3px 17px;
  vertical-align: middle;
  margin-top: 15px;
}

.stars {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 89px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}

.three-star {
  width: 65px;
}

.two-star {
  width: 41px;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
  
.hotel-rating img {
  -ms-flex-item-align: end;
      align-self: flex-end; 
}

.hotel-rating p {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  vertical-align: middle;
  color: #666666;
  background-color: #f2f2f2;
}


.button-detail {
  font-weight: bold;
  vertical-align: middle; 
  color: #ffffff;
  background-color: #81b3d2; 
}

.button-detail:hover,
.button-detail:focus {
  background-color: #669ec0;
}

.button-detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  font-weight: bold;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}